body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  background: linear-gradient(135deg, #a80000ab, #080000, #610000);
  color: #e0e0e0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.container {
  text-align: center;
  max-width: 1200px;
  width: 90%;
}

.title {
  color: #ff0000;
  font-size: 2.5rem;
  letter-spacing: 1px;
  margin-bottom: 40px;
  text-shadow: 0 0 10px #74494900, 0 0 20px #697cb952;
}

.box-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 30px;
}

/* Make link look like a box */
.box {
  display: block;
  background: rgba(76, 83, 99, 0.11);
  border: 2px solid #bd0000;
  border-radius: 15px;
  padding: 25px;
  text-decoration: none; /* remove underline */
  color: inherit;        /* use same text color */
  box-shadow: 0 0 15px rgba(255, 0, 0, 0.555);
  transition: all 0.3s ease;
}

.box:hover {
  transform: translateY(-8px);
  box-shadow: 0 0 25px rgba(0, 195, 255, 0.418);
}

.box h2 {
  color: #ff0000;
  margin-bottom: 10px;
}

.box p {
  color: #ff0000d3;
  font-size: 0.95rem;
}
